{{#if renderPassword}}

  <ul class="list-group">
    <h3>Success! Please use the link:</h3>
    <li class="list-group-item">
      <div class="d-flex">
        <div class="me-auto">
          <h4 style="display: inline; vertical-align: middle;">
            {{renderPassword}}
          </h4>
        </div>
      </div>
    </li>
  </ul>

{{/if}}